/* Footer Styles */
.footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-text {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .footer-icon {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-icon:hover {
    color: #00aced; /* Change this to any color for the hover effect */
  }
  